<!-- Yandex.Market Widget -->
<script type="text/javascript">
    (function (w) {
        function start() {
            w.removeEventListener("YaMarketAffiliateLoad", start);
            w.YaMarketAffiliate.createWidget({type:"sku",
	containerId:"marketWidgetXV",
	params:{clid:2474892,
		searchModelIds:[1780744325 ],
		themeId:1 } });
        }
        w.YaMarketAffiliate
            ? start()
            : w.addEventListener("YaMarketAffiliateLoad", start);
    })(window);
</script>
<!-- End Yandex.Market Widget -->
<div id="marketWidgetXV"></div>