---
layout: default
---
<!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
<!-- Yandex.RTB R-A-1587979-3 -->
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    type: 'fullscreen',
    platform: 'touch',
    blockId: 'R-A-1587979-3'
  })
})</script>

<article class="post">
    <h1>{{ page.title }}</h1>

    <div class="entry">
        {% if page.toc %}
            {% include toc.html html=content h_max=2 %}
        {% endif %}
        {{ content }}
        <br />
    </div>

    <!-- Yandex.RTB R-A-1587979-1 -->
    <div id="yandex_rtb_R-A-1587979-1"></div>
    <script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1587979-1',
    blockId: 'R-A-1587979-1'
  })
})</script>
</article>
